<div class="navbar navbar-expand-lg navbar-dark px-5 py-0" id="header">
  <a class="navbar-brand">
    <img src="assets/images/swan-bay.png" alt="logo" />
  </a>

  <button
    class="navbar-toggler navbar-toggler-right text-white collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#headerResponsive"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="headerResponsive">
    <ul class="navbar-nav text-uppercase text-white ml-auto">
      <li class="nav-item">
        <a class="nav-link">
          tổng quan
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          swanbay le centre
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          vị trí
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          tiện ích
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          sản phẩm
        </a>
        <div class="dropdown-menu p-0">
          <a class="dropdown-item" href="#">
            dinh thự ven sông
          </a>
          <a class="dropdown-item" href="#">
            biệt thự đơn lập ven sông
          </a>
          <a class="dropdown-item" href="#">
            biệt thự đơn lập vườn
          </a>
          <a class="dropdown-item" href="#">
            biệt thự song lập
          </a>
          <a class="dropdown-item" href="#">
            nhà phố liền kề
          </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          chính sách
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          liên hệ
        </a>
      </li>
    </ul>
  </div>
</div>
